* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100%;

}

.content {
    flex-grow: 1;
    background-color: #fff;
	padding: 20px;
	height: 100%;
}

.contentstable {    
    background-color: #fff;
}

.allsetting {
  display: flex;
  justify-content: space-between; /* 추가: 자식 요소들을 양쪽 끝에 정렬 */
  align-items: center;
  border: 1px solid #eee;
  border-radius : 6px;
  display: flex;
  height: 45px;
  padding: 6px 7px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.overlap-group, .selectmodel, .settingmenu, .mode {
  display: flex;
  align-items: center;
}

.overlap-group {
  height: 40px;
  display: flex;
}

.selectmodel {
  width: 300px;
    height: 40px;
  margin-right: 10px; /* 필요에 따라 조정 */
    display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 수직 가운데 정렬 */
}

 .selectmodel select{
  align-items: flex-start;
  border: 1px solid #cbc3c3;
  display: flex;
  gap: 9px;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
  width: 70%;
  padding: 5px 30px 5px 10px;
  outline: 0 none;
  border-radius: 6px;
}

.settingmenu {
  width: 150px;
  height: 40px;
  margin-right: 10px; /* 필요에 따라 조정 */
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  flex: 1; /* 유연한 크기 조정 */
}

.settingicon{
width:30px;
height:30px;
margin-right:10px;
}

 .mode {
  height: 40px;
  width: 183px;
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 수직 가운데 정렬 */
   margin-left: auto;
}

.titlelabel {
  font-size:16px;
  font-family:var(--font-family-noto_sans);
  font-weight:600;
 
}

.sample{
	 cursor: pointer;
}

 .mode select{
  align-items: flex-start;
  border: 1px solid #cbc3c3;
  display: flex;
  gap: 9px;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
  width: 70%;
  padding: 5px 30px 5px 10px;
  outline: 0 none;
  border-radius: 6px;
  
}

/* 불러오기 팝업 컨테이너 스타일 */
.import-prompt-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 불러오기 팝업 콘텐츠 스타일 */
.import-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.import-prompt-all {

}

/* 샘플 팝업 컨테이너 스타일 */
.prompt-sample-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 샘플 팝업 콘텐츠 스타일 */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* 닫기 버튼 스타일 */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.base-prompt-all {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px; padding : 40px;
	gap: 20px;
	padding: 40px;
}

.base-prompt-sample {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: 10px;
	cursor:pointer;
}

.base-prompt-title {
	font-size: 21px;
	font-family: var(- -font-family-noto_sans);
	font-weight: bold;
	margin-bottom:10px;
}

.sampledesc {
	font-size: 16px;
	font-family: var(- -font-family-noto_sans);
	font-weight: 400;
}

.promptmaincontents {
  align-items: flex-start;
  display: grid;
  gap: 5px;
  padding: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  height:80vh;
  width:100%;
}

.setting {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left:3px;
  padding: 10px 8px;
  height:100%;
  box-shadow: 8px 0 10px -5px #eaeaea; /* 오른쪽에만 그림자 효과 */
}

.maintitle {
  font-size:18px;
  font-family:var(--font-family-noto_sans);
  font-weight:600;
}


.customprompt {
 display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  height: 60%;
}

.subtitle {
  font-size:15px;
  font-family:var(--font-family-noto_sans);
  font-weight:600;
}

.prompttext {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* 테두리와 패딩을 너비와 높이에 포함 */
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향으로 요소들을 정렬 */
}

.prompttext > * {
  margin-bottom: 5px; /* 요소들 사이의 간격 */
}

.prompttext textarea {
  resize: none;
  width: 100%; /* 부모 요소의 너비에 맞게 조정 */
  height:100%;
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  border: 1px solid #eaeaea;
  color: #000000;
  font-family:var(--font-family-noto_sans);
  font-size: 14px;
  border-radius: 6px;
  background: #ffffff;
  box-sizing: border-box; /* 테두리와 패딩을 너비와 높이에 포함 */
  padding: 10px;
}


.import-button-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.prompt-input-button{
	background-color: #d7d7d7; /* 녹색 배경 */
	color: black; /* 흰색 텍스트 */
    padding: 5px 10px;
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트 밑줄 없음 */
    display: inline-block; /* 인라인 블록으로 표시 */
    font-size: 16px; /* 폰트 크기 16px */
    margin: 4px 2px; /* 마진 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    border-radius: 2px; /* 모서리 둥글게 */
    border: none; /* 테두리 없음 */
    width:100px;
}

.variable {
 width : 100%;
  height:40%;
  padding: 10px; /* 내부 여백 추가 */
}

.line-with-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #eaeaea;
  margin: 0 10px;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #eaeaea;
  margin: 0 10px;
}

.addvariable {
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  transition: background-color 0.3s; /* 부드러운 색상 변화 효과 */
  width:100px;
  height:30px;
  margin-top:10px;
  padding:5px;
  box-sizing: border-box;
}

.variableltitle {
  font-size:15px;
  font-family:var(--font-family-noto_sans);
  font-weight:600;
  text-align:left;
}
.addvariable:hover {
  background-color: #eee; /* 마우스 오버 시 배경색 변경 */
}

#variablesContainer {
    margin-top: 10px;
}

.variableItem {
    background-color: #ffffff;
    padding: 5px;
    margin-top: 5px;
	font-size:14px;
	font-family:var(--font-family-noto_sans);
	position: relative; /* X 버튼의 위치 설정을 위해 */
    padding-right: 25px; /* X 버튼 공간 확보 */
}

.variableItem .deleteButton {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #aaa;
}

.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 최상위에 위치 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 필요시 스크롤 활성화 */
    background-color: rgb(0,0,0); /* 기본 색상 */
    background-color: rgba(0,0,0,0.4); /* 투명도가 있는 검정색 */
    padding-top: 60px;
}

.modal-content {
	position: relative; /* X 버튼의 위치를 조정하기 위해 */
    background-color: #fefefe;
    margin: 15% auto; /* 상단으로부터 5% 그리고 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* 화면 크기에 따라 조정 */
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.variableInput{
  border: 1px solid #eaeaea;
  border-radius:6px;
  padding: 5px;
  width: 100%; /* 텍스트 입력창 너비 줄임 */
  height:40px;
  margin-bottom: 10px;
  margin-top:10px;
	
}

.addVariableButton{
	border:none;
	background:#eaeaea;
	font-size:14px;
	font-family:var(--font-family-noto_sans);
	color:#000;
	width:50px;
	height:30px;
	border-radius:6px;
	align-items:center;
		
}

.prompt-result {
  align-items: stretch;
  display: flex;
  justify-content: space-between; /* 하단 정렬 */
  flex-direction: column; /* 이 부분을 추가합니다 */
  height:100%;
  padding: 10px;
  box-shadow: -8px 0 10px -5px #eaeaea, 8px 0 10px -5px #eaeaea; /* 양쪽에 그림자 효과 */
}

.result-container {
 flex-grow: 1; /* result-container가 가능한 많은 공간을 차지하도록 설정 */
  overflow-y: auto;
  height:100%;
  align-items:flex-end;
  padding : 30px;
}

.result-text{
	font-size:14px;
	font-family:var(--font-family-noto_sans);
	white-space: pre-wrap; /* 줄바꿈과 공백 유지 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  border-right: 3px solid; /* 커서 효과를 위한 오른쪽 테두리 */
 animation: typing 3.5s steps(30, end);
}






.parameter {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  margin-left: 3px;
  padding: 10px 8px;
  box-shadow: -8px 0 10px -5px #eaeaea; /* 왼쪽에만 그림자 효과 */
}

.paramall {
 display: flex; /* Flex 컨테이너로 설정 */
  flex-direction: column; /* 요소들을 세로로 쌓음 */
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  margin-top:30px;
  gap:10px;
}

.param {
  align-items: flex-end;
  display: flex;
  height: 69px;
  padding: 10px;
  width: 100%;
}

.param-1 {
   display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

.paramtitle {
  font-size: 14px; /* 글씨 크기 조정 */
   font-family:var(--font-family-noto_sans);
  font-weight:500;
  margin-bottom: 5px; /* 프로그래스 바와의 간격 조정 */
}

.prograss {
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 세로 방향 가운데 정렬 */
   justify-content: space-between;
}

.parambar {
  -webkit-appearance: none;
  appearance: none;
  width: 90%; /* 너비를 내용에 맞게 조정 */
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
  height: 5px;
  background: #eaeaea;
  outline: none;
  border-radius: 5px;
  margin-right: 10px; /* 텍스트 입력창과의 간격 조정 */
}

.parambar:hover {
  background: #87acf1; /* 호버 상태일 때 파란색으로 변경 */
}

.parambar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height:15px;
  border: 2px solid #000000; /* 검은색 테두리 */
  background: #ffffff; /* 흰색 바탕 */
  border-radius: 50%;
  cursor: pointer;
}


.paramInput {
 margin-left: 20px;
  border: 1px solid #555;
  padding: 5px;
  width: 20%; /* 텍스트 입력창 너비 줄임 */
}


