<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spelix.dao.PlaygroundDAO">

	<!-- 프롬프트 베이스 탬플릿 -->
	<resultMap id="PromptBaseResultMap"
		type="com.spelix.domain.PromptBaseDTO">
		<id property="basePromptId" column="base_prmt_id" />
		<result property="basePromptName" column="base_prmt_name" />
		<result property="basePromptDesc" column="base_prmt_desc" />
		<result property="basePromptVer" column="base_prmt_ver" />
		<result property="insertUser" column="INSERT_USER" />
		<result property="insertDate" column="INSERT_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<select id="getAllPromptBase" resultMap="PromptBaseResultMap">
		select * from
		spx_prmt_base
	</select>



	<!-- 시스템 프롬프트 -->
	<resultMap id="PromptSystemResultMap"
		type="com.spelix.domain.PromptSystemDTO">
		<id property="systemPromptId" column="sys_prmt_id" />
		<id property="systemPromptVer" column="sys_prmt_ver" />
		<result property="systemPromptName" column="sys_prmt_name" />
		<result property="systemPrompt" column="sys_prmt" />
		<result property="constUser" column="const_user" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getPromptSystemInfo"
		resultMap="PromptSystemResultMap">
		select
		sys_prmt_name, sys_prmt from
		spx_prmt_sys
	</select>



	<!-- 프롬프트 마스터 -->
	<resultMap id="PromptMasterResultMap"
		type="com.spelix.domain.PromptMasterDTO">
		<id property="promptId" column="prmt_id" />
		<id property="promptVer" column="prmt_ver" />
		<result property="model" column="model" />
		<result property="promptName" column="prmt_name" />
		<result property="promptDesc" column="prmt_desc" />
		<result property="promptType" column="prmt_type" />
		<result property="llmCustomIds" column="llm_cust_ids" />
		<result property="prompt" column="prmt" />
		<result property="promptRate" column="prmt_rate" />
		<result property="basePromptId" column="base_prmt_id" />
		<result property="sysPromptIds" column="sys_prmt_ids" />
		<result property="sysPromptEtc" column="sys_prmt_etc" />
		<result property="constUser" column="const_user" />
		<result property="useYN" column="use_yn" />
		<result property="parmJson" column="parm_json" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getAllPromptMaster"
		resultMap="PromptMasterResultMap">
		select *
		from spx_prmt_mst
	</select>

	<insert id="savePromptMaster"
		parameterType="com.spelix.domain.PromptMasterDTO">
		insert into spx_prmt_mst (
		prmt_id,
		prmt_ver,
		model,
		prmt_name,
		prmt,
		base_prmt_id,
		use_yn,
		parm_json
		)
		VALUES (
		#{promptId},
		#{promptVer},
		#{model},
		#{promptName},
		#{prompt},
		#{basePromptId},
		#{useYN},
		cast(#{parmJson} as json)
		)
	</insert>



	<!-- 모델 마스터 -->
	<resultMap id="ModelMasterResultMap"
		type="com.spelix.domain.ModelMasterDTO">
		<id property="modelId" column="model_id" />
		<result property="modelType" column="model_type" />
		<result property="modelName" column="model_name" />
		<result property="useYN" column="use_yn" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getAllPromptModelList"
		resultMap="ModelMasterResultMap">
		select model_type, model_name
		from spx_model_mst
		where use_yn
		='Y'
	</select>



	<!-- 모델 타입 마스터 -->
	<resultMap id="ModelTypeMasterResultMap"
		type="com.spelix.domain.ModelTypeMasterDTO">
		<id property="modelTypeId" column="model_type_id" />
		<result property="modelTypeName" column="model_type_name" />
		<result property="modelTypeParameters"
			column="model_type_parms" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getModelTypeMaster"
		resultMap="ModelTypeMasterResultMap">
		select model_type_parms
		from spx_model_typ_mst
		where
		model_type_name = #{selectedModelTypeName}
	</select>



	<!-- 파라미터 마스터 -->
	<resultMap id="ParameterMasterResultMap"
		type="com.spelix.domain.ParameterMasterDTO">
		<id property="parameterId" column="parm_id" />
		<result property="parameterName" column="parm_name" />
		<result property="valueType" column="val_type" />
		<result property="minValue" column="min_val" />
		<result property="maxValue" column="max_val" />
		<result property="valueOffset" column="val_offset" />
		<result property="defaultValue" column="default_val" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getParamMasterByParamId"
		resultMap="ParameterMasterResultMap">
		select parm_name, val_type, min_val, max_val, default_val
		from
		spx_parm_mst
		where parm_id in
		<foreach collection="array" item="paramIdsArray" open="("
			close=")" separator=",">
			#{paramIdsArray}
		</foreach>

	</select>

</mapper>