<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spelix.dao.PromptManagerDAO">


	<!-- 프롬프트 마스터 -->
	<resultMap id="PromptMasterResultMap"
		type="com.spelix.domain.PromptMasterDTO">
		<id property="promptId" column="prmt_id" />
		<result property="promptVer" column="prmt_ver" />
		<result property="model" column="model" />
		<result property="promptName" column="prmt_name" />
		<result property="promptDesc" column="prmt_desc" />
		<result property="promptType" column="prmt_type" />
		<result property="llmCustomIds" column="llm_cust_ids"
			typeHandler="com.spelix.typeHandler.PostgreSQLArrayToStringTypeHandler" />
		<result property="prompt" column="prmt" />
		<result property="promptTestId" column="prmt_test_id" />
		<result property="promptRate" column="prmt_rate" />
		<result property="basePromptId" column="base_prmt_id" />
		<result property="sysPromptIds" column="sys_prmt_ids"
			typeHandler="com.spelix.typeHandler.PostgreSQLArrayToStringTypeHandler" />
		<result property="sysPromptEtc" column="sys_prmt_etc" />
		<result property="constUser" column="const_user" />
		<result property="useYN" column="use_yn" />
		<result property="parmJson" column="parm_json" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getAllPromptMaster"
		resultMap="PromptMasterResultMap">
		select *
		from spx_prmt_mst
	</select>

	<delete id="deletePromptMasterById"
		parameterType="java.lang.String">
		DELETE FROM spx_prmt_mst
		WHERE prmt_id = #{prmtId}
	</delete>

	<update id="updateUseYNPromptMaster"
		parameterType="java.lang.String">
		UPDATE spx_prmt_mst
		SET
		use_yn = #{useYN}
		WHERE
		prmt_id =
		#{promptId}
	</update>


	<!-- 모델 마스터 -->
	<resultMap id="ModelMasterResultMap"
		type="com.spelix.domain.ModelMasterDTO">
		<id property="modelId" column="model_id" />
		<result property="modelType" column="model_type" />
		<result property="modelName" column="model_name" />
		<result property="useYN" column="use_yn" />
		<result property="insertUser" column="insert_user" />
		<result property="insertDate" column="insert_date" />
		<result property="updateUser" column="update_user" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getAllPromptModelList"
		resultMap="ModelMasterResultMap">
		select model_type, model_name
		from spx_model_mst
	</select>

</mapper>